
body {
  margin: 0;
  color:  black;
  background-color: white;
}
main{
  margin: auto;
  width: 90%;
}
/* modif faites par Philippe : font-family + letter spacing */
h1, h2, h3, p{
  font-family: 'Julee', cursive;
  letter-spacing: 1.2px;
}
h2 {
  text-align: center;
}
/* Philippe : ajout style "Restaurant Japonais" */
header p {
  font-family: 'Titillium Web', sans-serif;
}

/* Header
--------------------------------------------------------------------------------------*/
header{
  height: 150px;
  margin-bottom: 20px;
}
#welcome{
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 7vw;
  margin: 0px 0px;

}
.ss-titre{
  position: absolute;
  margin: 0px 0px;
  top: 8vw;
  left: 1.5vw;
  font-size: 3vw;
}
.banniere{
  height: 250px;
  width: 100%;
  overflow: hidden;
}
.fuji{
  position: relative;
  width: 100%;
}

/*Navbar
---------------------------------------------------------------------------------------*/
.nav {
  position: fixed;
  right: 0;
  top:0;
  height: 100%;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 2;
  margin:0;
  display: flex;
  color: #f00;
}
#menu {
  background: black;
  width: 180px;
  padding: 0px 50px;
  display: inline-block;
  transition-duration: .2s;
  border:1px solid black;
  border-radius:0 0 0 20px;
  overflow: hidden;

}
#menu:not(:target) {
  transform: translate3d(155px, 0, 0);
  height: 42px; /*Onglet burger*/
  text-align: right;
  padding: 2px 10px;

}
#menu:target {
  transform: translate3d(0, 0, 0);
  height: 100%;
}
#visible, #hidden {
  height: 50px;
  text-align: left;
  display: block;
  margin-right: -30px;
}
#nav:target #visible, #nav:not(:target) #hidden {
  display: none;
  border: solid 1px black;
  border-radius:15px;
}
#menu:target #visible {
  display: none;

}
#hidden{
  padding:10px;
  margin-left: 180px;

}
#visible{
  margin-left: -15px;

}
#menu hr{
  width: 95px;
}

.nav a,.navDesk a, .products a{
  color: white;
  text-decoration: none;
  display: block;
}
.navDesk{
  display:none;
}

.main {
  width: 90%;
  margin: auto;
}
/*Restaurant
---------------------------------------------------------------------------------------*/

.welcome h2{
  display: initial;
}
/* Products
----------------------------------------------------------------------------------------*/
.produits{
}
.itemProduct{
  color: white;
  background-color: black;
  line-height: 3;
  border-radius: 15px;
  text-align: center;
  display:block;
}
#sushisMenu:not(:target){
  display:none;
}
#sushisMenu:target, #makisMenu:target,#sashimisMenu:target{
  display:visible;
  display:flex;
}
.illustrProduits{
  display: none;
}
.imgMenu{
  flex: 0.5;
}

/*Restaurant
---------------------------------------------------------------------------------------*/
.theChief{
}
#restaurant p {
  text-align : justify;
}

.theChief{

}
.mainRoom p {
  margin-bottom: 0;
}

.imgRestaurant{
  width: 100%;
}

/*ContactUs
----------------------------------------------------------------------------------------*/
.contact{
}
/* Philippe : ajout style map-responsive" partie 1 */
.map-responsive {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;>
  height:0;
  }
  
/* Philippe : ajout style map-reponsive partie 2*/
  .map-responsive iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  }
.form{
  display:flex;
  flex-direction: column;
  margin: 15px;
  margin-right: 25px;
}
.form >*{
  margin-bottom: 15px;
  border:2px solid grey;
  border-radius:5px;
  padding: 10px;
}
.submit{
  background-color: black;
  color: white;
  width: 100px;
  margin-right: 0;
  margin-left: auto;

}
.map{
}
address{
  margin: 25px;
}

/* CSS "contactez-nous" */


/*@media screen and (min-width:961px){

  .desktop{
      display: flex;
  }
  .coordonnees {
      border: 1px solid #CCC;

  }*/

/*Footer
--------------------------------------------------------------------------------------*/

.netWork{
  padding-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
footer{
  background-color: black;
  height: 18vw;

}
.deliveroo{
  border-radius: 15px;
  width: 7vw;
  height: 7vw;
  margin-top: 8px;
}

.facebook{
  border-radius: 5px;
  width: 9vw;
  height: 9vw;
}

.yelp{
  width: 7vw;
  height: 7vw;
  margin-top: 7px;
}
.faq{
  display: flex;
  justify-content: center;
  margin-top: 4px;
}

.faq a{
  color: grey;
  font-size: 1.5em;
  text-decoration: none;
}

/*Bouton retour*/
#up{
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 5px;
  right:5px;
  background : rgb(0, 0, 0);
  background : rgba(0, 0, 0, 0.8);
  display: block;
  text-decoration: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
#up:hover{
  background: rgba(0, 0, 0, 0.9);
}
.chevron:hover{
  opacity: 0.60;
    position: fixed;
    bottom: 22px;
    right: 19px;
}
.chevron {
    opacity: 0.40;
    color: white;
    position: fixed;
    bottom: 13px;
    right: 19px;
    border-style: solid;
    border-width: 0.10em 0.10em 0 0;
    content: '';
    display: block;
    padding: 10px;
    height: 0;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0;
    transition-duration: 0.8s;
}

@media screen and (min-width: 600px){
  /*Banniere*/
  header{
    height: 374px;
  }
  .banniere{
    height: 100%;
  }
/*Footer
-----------------------------------------------------------------------------------*/
  footer{
    height: 16vw;
  }
  .netWork{
    padding-top: 2vw
  }
  .faq a{
    color: grey;
    font-size: 3vw;
  }

  .deliveroo:hover, .facebook:hover, .yelp:hover{
    opacity: 0.6;
  }

  .faq a:hover{
    color: silver;
  }
  /* Menu*/
  .nav {
    display:none;
  }
  .navDesk{
    margin:-30px 0 30px 0;
    display:flex;
    height: 50px;
    background-color: black;
    justify-content: space-around;
    vertical-align: middle;
  }
  .navDesk a{
    display:block;
    margin: auto;
  }
  /* Philippe : ajout du style "contact"*/ 
   
.contact {
  display: flex;
  flex-direction: row;
}
.address {
  width:30%;
}
.map-responsive{
  width:60%;
}
/* fin des ajouts Philippe*/
}

