body {
  margin: 0;
  background-color: #f2fffd;
}
main{
  margin: auto;
  width: 90%;
  margin-bottom: 30px;
}
h1, h2, h3, .h2v{
  font-family: 'Julee', cursive;
  letter-spacing: 1.2px;
}
h2{
  border: 1px solid black;
}
h2, .h2v{
  font-size: 25px;
  font-weight: bolder;
  background: white;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}
.nav h2{
  font-size: 32px;
  text-align: left;
  background: none;
  margin: 0;
}
p {
  font-family: 'Titillium Web', sans-serif;
  text-align: justify;
}
hr{
  width: 50%;
}
a{
  color: white;
  text-decoration: none;
  display: block;
}
.main {
  width: 90%;
  margin: auto;
}

/* Header-------------------------------------------------------------------------*/
#welcome{
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 7vw;
  margin: 0;
}
.ss-titre{
  position: absolute;
  top: 8vw;
  left: 1.5vw;
  font-size: 3vw;
  margin: 0;
}
.banniere{
  width: 100%;
  overflow: hidden;
}
.fuji{
  position: relative;
  width: 100%;
}

/*Burger Css----------------------------------------------------------------------*/
.nav {
  position: fixed;
  right: 0;
  top:0;
  color: #f00;
  height: 100%;
  font-size: 18px;
  line-height: 2;
  margin:0;
  display: flex;
}
#menu {
  background: black;
  width: 180px;
  padding: 0px 50px;
  display: inline-block;
  transition-duration: .2s;
  border:1px solid black;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}
#menu:not(:target) {
  transform: translate3d(155px, 0, 0);
  height: 42px;
  text-align: right;
  padding: 2px 10px;
}
#menu:target {
  transform: translate3d(0, 0, 0);
  height: 100%;
}
#visible, #hidden {
  height: 50px;
  text-align: left;
  display: block;
  margin-right: -30px;
}
#nav:target #visible, #nav:not(:target) #hidden, #menu:target #visible, .navDesk {
  display: none;
}
#hidden{
  padding: 10px;
  margin-left: 180px;
}
#visible{
  margin-left: -15px;
}
.linkNav :nth-child(2){
  margin-top: 60px;
}

/*Presentation--------------------------------------------------------------------*/
.welcome h2{
  display: initial;
  margin-right: 2%;
  font-size : 18px;
}

/* Products-----------------------------------------------------------------------*/
.itemProduct{
  color: white;
  background: linear-gradient(black,grey, black);
  border-radius: 15px;
  text-align: center;
  display:block;
  z-index: 1;
}
#sushisMenu:not(:target), #makisMenu:not(:target), #sashimisMenu:not(:target) {
  display:none;
}
.illustrProduits{
  display: flex;
  flex-direction: column;
}
.col{
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
}
.imgMenu{
  margin: 0 4px;
  border: 2px solid grey;
  box-shadow: 2px 2px grey;
  border-radius: 30px;
}

/*Restaurant----------------------------------------------------------------------*/
#restaurant p {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
}
.mainRoom p {
  margin-bottom: 0;
}
.imgRestaurant{
  width: 100%;
}

/*ContactUs-----------------------------------------------------------------------*/
address{
  padding-left: 15%;
}
.map-responsive {
  padding-left:15%;
  margin-bottom: 30px;
}
iframe{
   width: 83%;
   height: auto;
   border: none;
}
.form{
  display:flex;
  flex-direction: column;
  margin: 15px;
}
.form >*{
  margin-bottom: 15px;
  border:1px solid grey;
  border-radius:5px;
  padding: 10px;
  box-shadow:4px 4px grey;
}

.submit{
  background: linear-gradient(black,grey, black);
  color: white;
  width: 100px;
  margin-right: 0;
  margin-left: auto;
  z-index: 1;
}
legend{
  width: 350px;
}
/*Footer--------------------------------------------------------------------------*/
.netWork{
  padding: 15px 0px;
  display: flex;
  justify-content: space-around;
  height: 60px;
  background-color: black;
}
.deliveroo, .facebook, .yelp{
  border-radius: 15px;
  height: 60px;
  width: 60px;
}

/*Desktop Version----------------------------------------------------------------*/
@media screen and (min-width: 600px){
  hr{
    display: none;
  }


  /*Banniere---------------------------------------------------------------------*/
  .banniere{
    height: auto;
    max-height: 300px;
  }
  h3{
    font-size: 1.5rem;
  }

  /*Produits
  -------------------------------------------------------------------------------*/
  #sushisMenu:not(:target), #makisMenu:not(:target), #sashimisMenu:not(:target) {
    display:flex;
   }
   .illustrProduits{
    display: flex;
    flex-direction: row;
    margin:auto;
    justify-content: center;
   }
   .imgMenu{
    max-height: 180px;
    width: 50%;
    margin:5px;
   }

  /* Menu------------------------------------------------------------------------*/
  .nav {
    display:none;
  }
  .navDesk{
    display: flex;
    height: 50px;
    background-color: black;
    justify-content: space-around;
    padding-bottom: 20px;
    margin-top: -5px;
    margin-bottom: 30px;
  }
  .navDesk a:hover{
    color:skyblue;
  }

  /* Contact Us-------------------------------------------------------------------*/
  .contact {
    display: flex;
    flex-direction: row;
  }
  address{
    margin-top: 25px;
    width: 50%;
  }
  .map-responsive{
    width: 100%;
    margin-right: 8%;
    margin-top: 25px;
  }

  /*Welcome-----------------------------------------------------------------------*/
  .welcomeContainer {
    width: 75%;
    margin: 5% auto 5px auto;
    padding: 1%;
  }
  .welcome h2 {
    margin-right: 5px;
    font-size : 22px;
  }

  /*Restaurant--------------------------------------------------------------------*/

  .restaurantContainer {
    display: flex;
    justify-content: space-between;
  }
  #restaurant p {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .theChief, .mainRoom {
    width: 45%;
  }

  /*Footer------------------------------------------------------------------------*/
  .netWork{
    height: 70px;
  }
  .deliveroo, .facebook, .yelp{
  border-radius: 15px;
  height: 70px;
  width: 70px;
  }
  .deliveroo:hover, .facebook:hover, .yelp:hover,{
    opacity: 0.9;
  }
  .itemProduct:hover, .submit:hover{
  background: linear-gradient(grey,black,grey);
  opacity: 0.9;
  }
}
